<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.shutbb.dao.SectionDao">
    <sql id="insertFields"> (name, user_id) </sql>
    <sql id="retriveFields">
        id, created_at, updated_at, name, user_id
    </sql>
    <sql id="allFields">
        id, created_at, updated_at, deleted, name, user_id
    </sql>
    <resultMap id="section" type="section">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="user" column="user_id" select="com.limyel.shutbb.dao.UserDao.retriveById">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="status" column="status"/>
            <result property="avatar" column="avatar"/>
        </association>
        <collection property="topics" column="id" select="com.limyel.shutbb.dao.TopicDao.retriveBySection">
            <id property="id" column="id"/>
            <result property="createdAt" column="created_at"/>
            <result property="title" column="title"/>
            <association property="user" column="user_id" select="com.limyel.shutbb.dao.UserDao.retriveById">
                <id property="id" column="id"/>
                <result property="username" column="username"/>
            </association>
        </collection>
    </resultMap>

    <insert id="create" parameterType="com.limyel.shutbb.entity.Section">
<!--        insert into section <include refid="insertFields"/> values (#{name}, #{subForumId}, #{userId});-->
        insert into section (name, user_id) values (#{name}, #{userId})
    </insert>

    <select id="retriveById" resultMap="section">
        select <include refid="allFields"/> from section where id=#{id}
    </select>

    <select id="retriveByUser" resultType="section">
        select id, name from section where id in (select section_id from users_sections where users_sections.user_id=#{userId} and users_sections.deleted=false)
    </select>

    <select id="retriveOtherByUser" resultType="section">
        select id, name from section where id not in (select section_id from users_sections where users_sections.user_id=#{userId} and users_sections.deleted=false)
    </select>

    <select id="retriveDefault" resultType="section">
        select id, name from section where name="最新"
    </select>

    <select id="retriveDefaultByUser" resultType="section">
        select id, name from section where id in (select section_id from users_sections where users_sections.user_id=#{userId} and users_sectins.deleted=false)
    </select>

    <select id="retriveAll" resultType="section">
        select id, name from section
    </select>

    <update id="update" parameterType="com.limyel.shutbb.entity.Section">
        update section
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="userId != null">user_id=#{userId},</if>
        </set>
        where id=#{id};
    </update>

    <update id="deleteById">
        update section set deleted=true where id=#{id};
    </update>

</mapper>