<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.shutbb.dao.UserDao">
    <insert id="create" parameterType="com.limyel.shutbb.pojo.User">
        
    </insert>
    
    <select id="retriveById" resultType="com.limyel.shutbb.pojo.User">

    </select>

    <update id="update" parameterType="com.limyel.shutbb.pojo.User">

    </update>

    <update id="deleteById">

    </update>
</mapper>