<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.shutbb.dao.UserDao">
    <sql id="userInfo">username, email, password, signature, </sql>
    
    <insert id="create" parameterType="com.limyel.shutbb.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="signature != null">
                signature,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="signature != null">
                #{signature},
            </if>
        </trim>
    </insert>
    
    <select id="retriveById" resultType="com.limyel.shutbb.entity.User">
        select * from user where id=#{id};
    </select>

    <select id="retrive" resultType="com.limyel.shutbb.entity.User" parameterType="com.limyel.shutbb.entity.User">
        select * from user
        <where>
            <if test="username != null">username=#{username}</if>
            <if test="email != null">and email=#{email}</if>
            <if test="password != null">and password=#{password}</if>
        </where>
    </select>

    <update id="update" parameterType="com.limyel.shutbb.entity.User">
        update user
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="email != null">email=#{email},</if>
            <if test="signature != null">signature=#{signature},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where id=#{id};
    </update>

    <update id="deleteById">
        update user set is_delete=true where id=#{id};
    </update>
</mapper>